<% include ./partials/header.ejs %>
<div class="container">


  <div class="textContent">
    <h1>Login Form</h1>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" , placeholder="Password">
      <button class="btn-block">Login</button>
  </form>

</div>
</div>
<% include ./partials/footer.ejs %>